{% extends "base.html" %}

{% block title %}
HG2S - Login
{% endblock %}

{% block content %}
<form action="#" method="post">
    <label for="username_or_email">Username or E-Mail</label>
    <input type="text" name="username_or_email" id="username_or_email" placeholder="username or email">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="password">
    <input class="d-block" type="submit" name="submit" value="Login">
</form>
<p>Don't have an account? <a href="{{ url_for('sign_up') }}">Sign Up</a></p>
{% endblock %}