{% extends "base.html" %}

{% block title %}
HG2S - Sign Up
{% endblock %}

{% block content %}
<h2>Create New Account</h2>
<form action="#" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="username"> <br>
    <label for="email">E-Mail (Optional)</label>
    <input type="email" name="email" id="email" placeholder="email"> <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="password">
    <label for="repeat_password">Repeat Password</label>
    <input type="password" name="repeat_password" id="repeat_password" placeholder="password">
    <input class="d-block" type="submit" value="Sign Up">
</form>
<h4>{{ error }}</h4>
<p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}