{% extends "template_form_only_pages.html" %}

{% block title %}
HG2S - Change User Name
{% endblock %}

{% block form%}
<div class="py-1">
    <div class="headline-class mb-4">
        <h2 class="">Change User Name</h2>
    </div>
    <form action="/change_user_name" method="post">
        <div>
            <label for="new_user_name" class="form-label">New Username</label>
            <input type="text" name="new_user_name" id="new_user_name" class="form-control form-control-lg mb-2"required>
            <label for="password" class="form-label">Type in Password</label>
            <input type="text" name="password" id="password" class="form-control form-control-lg" value="">
        </div>
        <button class="btn btn-outline-light btn-lg px-5 mt-3" name="submit" type="submit">Submit Changes</button>
    </form>
</div>
<div>
    <p class="mt-2">Don't want to change your Username?
        <a href="{{ url_for('profile', username=session['session_user'])}}" class="fw-bold">Cancel</a>
    </p>
</div>

{% endblock %}

