{% extends "base.html" %}

{% block title %}
HG2S - Change Password
{% endblock %}

{% block content %}

<h1 class="">Change Password</h1>

<form action="/change_password" method="POST">
    <label for="old_password">Old Password:</label>
    <input type="text" name="old_password" id="old_password" required>
    <label for="new_password">New Password:</label>
    <input type="text" name="new_password" id="new_password" required>
    <label for="repeat_password">Repeat New Password:</label>
    <input type="text" name="repeat_password" id="repeat_password" required>
    <button type="submit">Change Password</button>
</form>

{% endblock %}

