{% extends "base.html" %}

{% block title %}
HG2S - Documentation
{% endblock %}

{% block content %}
<div class="">
    <h1 class="headline">Documentation</h1>
    <p class="subheadline">Level Up your HG2S Prompting Skills</p>
</div>

<div class="container mt-5">
    <div class="row">
        <h1>Artists</h1>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
    </div>
    <div class="row">
        <h1>Instruments</h1>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
    </div>
</div>
{% endblock %}