{% extends "template_base.html" %}

{% block title %}
HG2S - Documentation
{% endblock %}

{% block content %}
<div class="">
    <h1 class="headline">HG2S (Hitchhiker's Guide to Songs)</h1>
</div>
<div class="seperator-line bdcolor_original my-3 rounded-2"></div>
<div class="">
    <h1 class="headline">📃 Documentation</h1>
    <p class="subheadline float-right positioning_1">Level Up your HG2S Prompting Skills</p>
</div>
<div class="container my-5">
    <div class="row mb-5">
        <div class="col-4">
            <h1>Artists</h1>
            <p>Here the program will scour your Text Prompt for the "Top 10.000 Music Artists" on the world</p>
        </div>
        <div class="col-4">
            <h1>Genres</h1>
            <p>A list of the top 75 music genres in the world wis available</p>
        </div>
        <div class="col-4">
            <h1>Instruments</h1>
            <p>We collected a list of the most popular instruments used in music</p>
        </div>
    </div>
        <div class="row mb-5">
        <div class="col-4">
            <h1>Tonic (Grundton)</h1>
            <p>We include all possible Tonics (C, C#, Db etc.)</p>
        </div>
        <div class="col-4">
            <h1>Key (Tonleiter)</h1>
            <p>Next to the basic musical keys like major (Dur) and minor (Moll), we offer a wide variety of different keys like
            dorian, phrygian, lydian, mixolydian, aeolian or locrian</p>
        </div>
    </div>
</div>
{% endblock %}