{% extends "template_base.html" %}

{% block title %}
HG2S - Documentation
{% endblock %}

{% block content %}
<div class="">
    <h1 class="headline">Documentation</h1>
    <p class="subheadline">Level Up your HG2S Prompting Skills</p>
</div>

<div class="container mt-5">
    <div class="row">
        <h1>Artists</h1>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
    </div>
    <div class="row">
        <h1>Instruments</h1>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
        <div class="col-4">
            <h5>Download YT Video</h5>

        </div>
    </div>
    <div class="">
        <h1 class="headline">HG2S (Hitchhiker's Guide to Songs)</h1>
        <p class="subheadline">This Research follows the Bachelor Thesis of Paul Hitzler</p>
    </div>
    <p>Anlehnung an den Film "Per Anhalter durch die Galaxis" (deutscher Titel)</p>
    <p>In diesem Projekt wird versucht, eine Web-Applikation aufzubauen, mit der in Echtzeit neuartige Musik generiert
        wird,
        inspiriert an der Texteingabe des Nutzers.</p>
    <h1>Ähnliche Arbeiten</h1>
    <p>Als Vorbild dienen hierfür die folgenden zwei Apps:</p>
    <h2>DALL E-2</h2>
    <p>Text-zu-Bild Generatoren waren in Tech-News die letzten Jahre kaum zu übersehen. Ihr Einfluss auf die Kunst, und
        demnach auf den Menschen, ist im Moment noch nicht einschätzbar. Zu diesem Zeitpunkt lässt sich aber leicht
        abschätzen, dass die geschlagenen Wellen die gesamte Branche über einen Haufen werfen wird.</p>
    <p></p>
    <h2>JUKEBOX</h2>
    <p>Open AI hat auch schon erste Versuche in der Musikbranche gewagt. Ihr Modell gewann an künstlicher Intelligenz
        durch
        satte 1.6 Millionen Songs.</p>
</div>
{% endblock %}