{% extends "base.html" %}

{% block title %}
HG2S - Text Prompt Song Generation
{% endblock %}

{% block extra_head_configs %}
<!--&lt;!&ndash; include css files &ndash;&gt;-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/extra_playground.css') }}">-->
<!--&lt;!&ndash; include js files &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='js/extra_playground.js') }}"></script>-->
{% endblock %}

{% block content %}

<div class="row py-5 h-100">
    <div class="col-2">
        <div class="card bg-dark text-white" style="border-radius: 10px;">
            <div class="card-body p-2 h-100">
                <div>
                    <h4 class="mb-0">Samples</h4>
                    <p class="subheadline mt-1">Drag&Drop that!</p>
                </div>
                {% for kick in kick_paths %}
                <div class="">
                    <button id="gallery_item_{{loop.index}}" class="gallery_items" draggable="true"
                            style="font-size:13px">
                        {{kick_names[loop.index - 1][:22]}}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="card bg-dark text-white" style="border-radius: 10px;">
            <div class="card-body p-2 h-100">
                <h4>Musikantor</h4>
                <div class="row border rounded-1 m-2">
                    {% for i in range(4) %}
                    {% set list = ['', '', '', ''] %}
                    <div class="sequencer-row row">
                        <div class="col-3 border draggables">
<!--                            <h6 class="d-inline mx-2">{{list[loop.index-1]}}</h6>-->
<!--                            <h6 id="{{list[loop.index-1]}}_sample_name" class="d-inline mx-2"></h6>-->
                        </div>
                        <div class="col-7">
                            {% for i in range(16) %}
                            <!-- Make a mx-2 at every fourth element -->
                            {% if i % 4 == 3 %}
                            <input class="d-inline me-1 bg-danger border-danger sequencer-step" type="checkbox">
                            {% else %}
                            <input class="d-inline sequencer-step" type="checkbox">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>


<!--{% if id %}-->
<!--<h1 class="m-0">Playground</h1>-->
<!--<p class="mb-4">You just entered the individual Playground Dimension of text prompt {{id}}</p>-->
<!--<div class="post border rounded p-2">-->
<!--    {% if text_prompt %}-->
<!--    <h4>"{{ text_prompt }}"</h4>-->
<!--    {% endif %}-->
<!--    <a href="/upvote_post/{{id}}">-->
<!--        <button>Upvote ({{popularity}})</button>-->
<!--    </a>-->
<!--</div>-->
<!--{% endif %}-->

<!--<div class="container">-->
<!--    <h1>Step Sequencer</h1>-->
<!--    &lt;!&ndash;    <button id="button_start">Start</button>&ndash;&gt;-->
<!--    &lt;!&ndash; Show Start Button when tone_module is loaded &ndash;&gt;-->
<!--    <button id="button_start" style="display: none;">Start</button>-->
<!--    <div class="row border p-1">-->
<!--        {% for i in range(4) %}-->
<!--        {% set list = ['kick', 'snare', 'hihat', 'perc'] %}-->
<!--        <div class="sequencer-row row">-->
<!--            <div class="col-5">-->
<!--                <h6 class="d-inline mx-2">{{list[loop.index-1]}}:</h6>-->
<!--                <h6 id="{{list[loop.index-1]}}_sample_name" class="d-inline mx-2"></h6>-->
<!--            </div>-->
<!--            <div class="col-7">-->
<!--                {% for i in range(16) %}-->
<!--                &lt;!&ndash; Make a mx-2 at every fourth element &ndash;&gt;-->
<!--                {% if i % 4 == 3 %}-->
<!--                <input class="d-inline me-1 bg-danger border-danger sequencer-step" type="checkbox">-->
<!--                {% else %}-->
<!--                <input class="d-inline sequencer-step" type="checkbox">-->
<!--                {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <h1>Drum Rack</h1>-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; SAMPLE GALLERY &ndash;&gt;-->
<!--        <div class="d-inline-block border p-1 col-2">-->
<!--            <h3>SAMPLE GALLERY</h3>-->
<!--            {% for kick in kick_paths %}-->
<!--            <div class="">-->
<!--                <button id="gallery_item_{{loop.index}}" class="gallery_items"-->
<!--                        onclick="">-->
<!--                    {{kick_names[loop.index - 1]}}-->
<!--                </button>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        &lt;!&ndash; PATTERN RACK &ndash;&gt;-->
<!--        <div class="d-inline-block border p-1 col-6">-->
<!--            <h3>PATTERN RACK</h3>-->
<!--            <div class="">-->
<!--                <button class=""></button>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; MIDI COLLECTION &ndash;&gt;-->
<!--        <div class="d-inline-block border p-1 col-2">-->
<!--            <h3>MIDI COLLECTION</h3>-->
<!--            {% for midi in midi_paths %}-->
<!--            {{midi}}-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; SOUNFONT COLLECTION &ndash;&gt;-->
<!--        <div class="d-inline-block border p-1 col-2">-->
<!--            <h3>SOUND FONT COLLECTION</h3>-->
<!--            {% for soundfont in soundfont_paths %}-->
<!--            {{soundfont}}-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        <div class="col-8">-->
<!--            <ul id="piano">-->
<!--                <li data-note="C4" class="key">-->
<!--                    <div data-note="C#4" class="black-key">R</div>-->
<!--                    D-->
<!--                </li>-->
<!--                <li data-note="D4" class="key">-->
<!--                    <div data-note="D#4" class="black-key">T</div>-->
<!--                    F-->
<!--                </li>-->
<!--                <li data-note="E4" class="key">-->
<!--                    G-->
<!--                </li>-->
<!--                <li data-note="F4" class="key">-->
<!--                    <div data-note="F#4" class="black-key">U</div>-->
<!--                    H-->
<!--                </li>-->
<!--                <li data-note="G4" class="key">-->
<!--                    <div data-note="G#4" class="black-key">I</div>-->
<!--                    J-->
<!--                </li>-->
<!--                <li data-note="A4" class="key">-->
<!--                    <div data-note="A#4" class="black-key">O</div>-->
<!--                    K-->
<!--                </li>-->
<!--                <li data-note="B4" class="key">-->
<!--                    L-->
<!--                </li>-->
<!--            </ul>-->


<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <button onclick="random_key()">Random Key</button>-->
<!--    <h1>Key: C Major</h1>-->
<!--    <button onclick=play(note_1)>C</button>-->
<!--    <button onclick=play(note_2)>D</button>-->
<!--    <button onclick=play(note_3)>E</button>-->
<!--    <button onclick=play(note_4)>F</button>-->
<!--    <button onclick=play(note_5)>G</button>-->
<!--    <button onclick=play(note_6)>A</button>-->
<!--    <button onclick=play(note_7)>B</button>-->
<!--    <h3>Try different Sounds</h3>-->
<!--    <button onclick="change_sound()">Change Sound</button>-->
<!--    <button onclick="play_soundfont()">Play Soundfont</button>-->
<!--    <button onclick="change_soundfont_instrument()">Random Soundfont</button>-->
<!--    <h4>acoustic_grand_piano</h4>-->
<!--</div>-->


<script type="text/javascript">

    // Gallery Items
    var gallery_items = document.getElementsByClassName("gallery_items");
    var dragItem = null;
    for (var i of gallery_items) {
        i.addEventListener("dragstart", dragStart);
        i.addEventListener("dragend", dragEnd);
    }

    function dragStart() {
        dragItem = this;
        setTimeout(() => {
            this.style.display = "none";
        }, 0);
        console.log("dragStart" + this.id);
    }

    function dragEnd(e) {
        setTimeout(() => {
            this.style.display = "block";
        }, 0);
        console.log("dragEnd" + this.id);
        dragItem = null;
    }

    // Sequencer Rows
    var sequencer_rows = document.getElementsByClassName("draggables");
    for (var i of sequencer_rows) {
        i.addEventListener("dragover", dragOver);
        i.addEventListener("dragenter", dragEnter);
        i.addEventListener("dragleave", dragLeave);
        i.addEventListener("drop", drop);
    }

    function drop() {
        console.log("drop" + this.id);
        this.append(dragItem);
    }

    function dragOver(e) {
        e.preventDefault();
        this.style.border = "2px solid #000";
    }

    function dragEnter() {
        e.preventDefault();
    }

    function dragLeave() {
        this.style.border = "none";
    }


</script>
{% endblock %}