{% extends "base.html" %}

{% block title %}
HG2S - Text Prompt Song Generation
{% endblock %}

{% block extra_head_configs %}
<!--&lt;!&ndash; include css files &ndash;&gt;-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/extra_playground.css') }}">-->
<!--&lt;!&ndash; include js files &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='js/extra_playground.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/step_sequencer.js') }}"></script>-->
{% endblock %}

{% block content %}

<div class="col-12">
    <h1 class="headline mb-3 px-0 rounded"
        style="text-align: center; background-color: var(--middle-grey); color: var(--light-blue)">
        {% if text_prompt%}{{text_prompt}}{% else %}}NO PROMPT SELECTED{% endif %}
    </h1>
    <!-- TOP ROW -->
    <div class="card-deck row" style="border-radius: 10px;">
        <!-- UPPER LEFT -->
        <div class="card col-4 bg-dark text-white d-inline-block p-0">
            <div class="card-title rounded-top p-1 bgcolor_avenue text-black">
                {% if text_prompt %}
                <div>{{text_prompt}}</div>
                {% else %}
                <div class="">No Playground Selected</div>
                {% endif %}
                <button id="startSequencerButton" class="rounded-circle d-inline upper-left bgcolor_warning"><img
                        class="icon_set_imgs"
                        src="{{ url_for('static', filename='img/icons/volume.png') }}"
                        alt=""></button>
            </div>
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col-3"><h5 class="d-inline slider-prefix">BPM</h5></div>
                    <div class="col-9">
                        <input id="bpm_slider" type="range" min="60" max="200" value="100" class="slider">
                        <label id="bpm_label" for="bpm_slider">100</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><h5 class="d-inline slider-prefix">Volume</h5></div>
                    <div class="col-9">
                        <input id="volume_slider" type="range" min="-60" max="10" value="0" class="slider">
                        <label id="volume_label" for="bpm_slider">0</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- UPPER MIDDLE -->
        <div class="card p-2 col-4 bg-dark text-white d-inline-block">
            <div class="card-title">Song Configurations</div>
            <div class="card-body">
                <p>KEY:</p>
                <!--                <input type="number" id="bpms" name="bpm" min="1" max="300" value="140">-->
            </div>
        </div>
        <!-- UPPER RIGHT -->
        <div class="card p-2 col-4 bg-dark text-white d-inline-block">
            <div id="testor" class="card-title">Mixer</div>
            <div class="card-body">
                <div class="slidecontainer">
                    <div class="slider">
                        <input id="slider_volume_sequencer_1" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>1</label>
                        <input id="slider_volume_sequencer_2" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>2</label>
                        <input id="slider_volume_sequencer_3" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>3</label>
                        <input id="slider_volume_sequencer_4" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>4</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MIDDLE ROW -->
    <div class="card-deck row" style="border-radius: 10px;">
        <!-- MIDDLE LEFT -->
        <div id="component_gallery"
             class="card p-2 col-2 bg-dark text-white d-inline-block resizable-content scrollbars">
            <div class="card-title p-2 h-100">
                <div>
                    <h4 class="">Samples</h4>
                    <p class="subheadline">Drag these!</p>
                </div>
                <div>
                    <div id="scrollable_category">
                        <select id="category-select" class="category-select" name="form-select"
                                aria-label="Default select example">
                            {% set category_list = ["kicks", "snares", "claps", "hihats", "percussions"] %}
                            {% for category in category_list %}
                            {% if category != session['category_list'] %}
                            <option class="theme_items" value="{{theme}}">{{ category }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% for category in category_list %}
                    <section id="{{category[:-1]}}_section">
                        {% set category_samples = sample_dict[category] %}
                        {% for sample in category_samples %}
                        <div class="">
                            {% set sample_name = sample | string() %}
                            {% set sample_name = sample_name.split("'")[1] | replace(" ", "") | replace("\n", "") %}
                            <button id="gallery_item_{{loop.index}}" class="gallery_items {{category[:-1]}}_item"
                                    draggable="true"
                                    style="font-size:12px">{{ sample_name }}
                            </button>
                        </div>
                        {% endfor %}
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- MIDDLE MIDDLE -->
        <div class="card p-2 col-7 bg-dark text-white d-inline-block" style="border-radius: 10px;">
            <h5 id="step-counter"
                class="border py-1 px-2 border-danger bgcolor_warning rounded-2 d-inline m-1 upper-left">
                0</h5>
            <div class="card-title">
                <h4 class="d-inline">Musikantor</h4>
                <p class="subheadline block">Drag them into the spaces beyond!</p>
            </div>
            <div class="card-body">
                <div class="mt-2">
                    <h6>Drum Sequencer</h6>
                    {% for i in range(4) %}
                    {% set list = ['', '', '', ''] %}
                    <div class="sequencer-row row">
                        <div class="col-2 border rounded draggables px-0" style="overflow: hidden">
                            <p class="draggable_hint"
                               style="color:var(--light-grey); line-height: 15px; font-family: Arial; font-size: 8px; opacity: 0.2">
                                Drag the Samples on the Left in here</p>
                            <!--                            <h6 class="d-inline mx-2">{{list[loop.index-1]}}</h6>-->
                            <!--                            <h6 id="{{list[loop.index-1]}}_sample_name" class="d-inline mx-2"></h6>-->
                        </div>
                        <div class="$row col-7">
                            {% for i in range(16) %}
                            <span class="d-inline">
                                {% if i % 4 == 3 %}
                                <input class="d-inline me-1 bg-danger border-danger sequencer-step" type="checkbox">
                                {% else %}
                                <input class="d-inline sequencer-step" type="checkbox">
                                {% endif %}
                                 </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- MIDDLE RIGHT -->
        <div class="card p-2 col-3 bg-dark text-white d-inline-block">
            <div class="card-title">
                <h4 class="d-inline">Instruments</h4>
                <p class="subheadline block">Drag&Drop that!</p>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <!-- BOTTOM ROW -->
    <div class="card-deck row" style="border-radius: 10px;">
        <!-- BOTTOM ONE -->
        <div class="card p-2 col-12 bg-dark text-white d-inline-block">
            <div class="card-title p-2 h-100">
                <div>
                    <h4 class="">MIDI Gallery</h4>
                    <p class="subheadline">Drag&Drop that!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //////////////////////////////////////////
    //////// SAMPLE GALLERY SHOW /////////////
    //////////////////////////////////////////

    var category_select = document.getElementById("category-select");
    var section_list = document.querySelectorAll("#kick_section, #snare_section, #clap_section, #hihat_section, #percussion_section");

    //show only kick section in beginning
    for (var i = 0; i < section_list.length; i++) {
        section_list[i].style.display = "none";
    }
    document.getElementById("kick_section").style.display = "block";

    category_select.addEventListener("change", function () {
        show_needed_samples()
    });

    function show_needed_samples() {
        // Get the selected option of #category-select
        var selected_option = document.querySelector("#category-select option:checked").innerText;
        // console.log(selected_option);
        for (var i = 0; i < section_list.length; i++) {
            section_list[i].style.display = "none";
            section_name = selected_option.toLowerCase().slice(0, -1) + "_section";
            console.log(section_name);
            if (section_list[i].id === section_name) {
                section_list[i].style.display = "block";
            }
        }
    }

    gallery_scroller = document.getElementById("scrollable_category");

    // Change Select Option on Scroll
    gallery_scroller.addEventListener("mousewheel", function (e) {
        console.log(e.deltaY);
        e.preventDefault();
        // Change Select Option on Scroll
        if (e.deltaY > 0) {
            // Scroll Down
            if (category_select.selectedIndex < category_select.length - 1) {
                category_select.selectedIndex++;
            } else {
                category_select.selectedIndex = 0;
            }
        } else {
            // Scroll Up
            if (category_select.selectedIndex > 0) {
                category_select.selectedIndex--;
            } else {
                category_select.selectedIndex = category_select.length - 1;
            }
        }
        show_needed_samples();
    });


    //////////////////////////////////////////
    /////////// DRAGGING ITEMS ///////////////
    //////////////////////////////////////////


    var gallery_items = document.getElementsByClassName("gallery_items");
    var dragItem = null;
    for (var i of gallery_items) {
        i.addEventListener("dragstart", dragStart);
        i.addEventListener("dragend", dragEnd);
    }

    function dragStart() {
        // drag start but duplicate the element
        dragItem = this;
        setTimeout(() => {
            this.style.color = "white";
            this.style.backgroundColor = "transparent";
        }, 0);
        // console.log("dragStart" + this.id);
    }

    function dragEnd(e) {
        setTimeout(() => {
            this.style.display = "block";
        }, 0);
        // this.style.color = "black";
        // this.style.backgroundColor = "white";
        // console.log("dragEnd" + this.id);
        dragItem = null;
    }

    // Sequencer Rows
    var sequencer_rows = document.getElementsByClassName("draggables");
    for (var i of sequencer_rows) {
        i.addEventListener("dragover", dragOver);
        i.addEventListener("dragenter", dragEnter);
        i.addEventListener("dragleave", dragLeave);
        i.addEventListener("drop", drop);
    }

    function drop() {
        // Remove other buttons from the row
        var buttons = this.getElementsByTagName("button");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].remove();
        }

        // this.querySelector("button").remove();
        // console.log("drop" + this.id);
        this.style.backgroundColor = "var(--black)";

        this.append(dragItem);
        var hints = document.getElementsByClassName("draggable_hint");
        for (var i of hints) {
            i.style.display = "none";
        }
    }

    function dragOver(e) {
        e.preventDefault();
        this.style.backgroundColor = "var(--light-grey)";
    }

    function dragEnter(e) {
        e.preventDefault();
    }

    function dragLeave() {
        this.style.border = "none";
        this.style.backgroundColor = "var(--black)";
    }


    //////////////////////////////////////////
    //////// Resizable Components ////////////
    //////////////////////////////////////////

    component_gallery = document.getElementById("component_gallery");
    // Print out width if resized
    component_gallery.addEventListener("resize", function () {
        console.log("resized");
    });


    //////////////////////////////////////////
    /////////// PLAYING MUSIC ////////////////
    //////////////////////////////////////////

    // Make Samples in Sample Gallery playable via click
    var sample_gallery_items = document.getElementsByClassName("gallery_items");
    for (var i of sample_gallery_items) {
        i.addEventListener("click", play_sample);
    }

    function play_sample() {
        element_name = this.innerText;
        element_category = "kicks"
        element_path = "{{static_url}}/" + element_category + "/" + element_name;
        console.log(element_path);
        var sample = element_path;
        var audio = new Audio(sample);
        audio.play();
    }

    ///////////////////////////////////////////////////
    /////////////// DRUM SEQUENCER ////////////////////
    ///////////////////////////////////////////////////

    document.documentElement.addEventListener('mousedown', () => {
        if (Tone.context.state !== 'running') Tone.context.resume();
    });

    // Wait till tone.js is loaded
    setTimeout(function () {

            console.log("tone.js hopefully loaded");

            // When New Item is detected in Sequencer --> initialize new Tone.js Player
            var sequencer_rows = document.getElementsByClassName("draggables");
            for (var i of sequencer_rows) {
                i.addEventListener("drop", initializeSamples);
            }

            // var buffer = new Tone.Buffer("{{static_url}}/kicks/BOS_DHT_Kick_One_Shot_Deep_F.wav");

            var start_button = document.getElementById("startSequencerButton");

            function startSequencer() {
                console.log("start sequencer");
                initializeSamples();
                Tone.Transport.scheduleRepeat(repeat, '16n');
                Tone.Transport.start();
            }

            start_button.addEventListener("click", startSequencer);

            // Initialize drum samples

            const drum_samples = ["", "", "", ""];

            const $rows = document.getElementsByClassName('$row')

            function initializeSamples() {
                console.log("INITIALIZING SAMPLES");
                var select_drum_samples = document.querySelectorAll(".draggables");
                for (var i = 0; i < select_drum_samples.length; i++) {
                    // console.log(i, select_drum_samples[i].innerText);
                    // if element has button as a child
                    if (select_drum_samples[i].querySelector("button")) {
                        var element_name = select_drum_samples[i].innerText;
                        // console.log(i, element_name);
                        if (element_name) {
                            classList = select_drum_samples[i].querySelector("button").classList;
                            category_classes = ["kick_item", "snare_item", "clap_item", "hihat_item", "percussion_item"];
                            for (category in category_classes) {
                                if (classList.contains(category_classes[category])) {
                                    var element_category = category_classes[category].slice(0, -5) + "s";
                                    var element_url = "{{static_url}}" + element_category + "/" + element_name;
                                    console.log("Sequencer Slot:", i);
                                    console.log("Element URL:", element_url);
                                    drum_samples[i] = new Tone.Player(element_url).toDestination();
                                    momentary_volume = document.getElementById("slider_volume_sequencer_" + (i + 1)).value;
                                    drum_samples[i].volume.value = Math.round(momentary_volume);
                                }
                            }
                        }
                    }
                }
            }

            let index = 0;
            var step_counter = document.getElementById("step-counter");

            function repeat(time) {
                let step = index % 16;
                step_counter.innerText = step;
                for (let i = 0; i < $rows.length; i++) {
                    let sample = drum_samples[i],
                        $row = $rows[i],
                        $input = $row.querySelector(`span:nth-child(${step + 1}) > input`);
                    $row.querySelectorAll('span').forEach($span => $span.classList.remove('bgcolor_avenue'));
                    $row.querySelector(`span:nth-child(${step + 1})`).classList.add('bgcolor_avenue');
                    // $input.style.backgroundColor = "var(--yellow)";
                    if ($input.checked) {
                        console.log(drum_samples[i].volume.value);
                        drum_samples[i].start(time);
                    }
                }
                index++;
            }

            // Mixer Sliders
            slider_volume_sequencer = document.getElementsByClassName("slider_volume_sequencer");
            for (let step = 0; step < slider_volume_sequencer.length; step++) {
                slider_volume_sequencer[step].addEventListener("input", function () {
                    var volume = this.value;
                    if (drum_samples[step]) {
                        // print out name of sample
                        drum_samples[step].volume.value = volume;
                        // console.log(drum_samples[0].volume, drum_samples[1].volume, drum_samples[2].volume, drum_samples[3].volume);
                        // console.log("controlling with sample - ", step, drum_samples[step].volume.value);
                    } else {
                        console.log("no sample connected on ", step);
                    }
                });
            }

        }
        , 1000);

    ///////////////////////////////////////////////////
    //////////////// SLIDER, KNOBS ////////////////////
    ///////////////////////////////////////////////////

    // MASTER - Upper Left Elements

    var bpm_slider = document.getElementById("bpm_slider");

    bpm_slider.addEventListener("input", function () {
        var bpm_value = bpm_slider.value;
        document.getElementById("bpm_label").innerHTML = bpm_value;
        console.log(bpm_value);
        Tone.Transport.bpm.value = bpm_value;
    });

    var master_volume_slider = document.getElementById("volume_slider");

    master_volume_slider.addEventListener("input", function () {
        var master_volume_value = master_volume_slider.value;
        document.getElementById("volume_label").innerHTML = master_volume_value;
        Tone.Master.volume.value = master_volume_value;
    });


</script>
{% endblock %}