{% extends "template_base.html" %}

{% block title %}
HG2S - Text Prompt Song Generation
{% endblock %}

{% block extra_head_configs %}
<script src="{{ url_for('static', filename='js/playground_pianoRoll.js') }}"></script>
<script src="{{ url_for('static', filename='js/playground_stepSequencer.js') }}"></script>
<script src="{{ url_for('static', filename='js/webaudio-pianoroll.js') }}"></script>
<script type="module" src="{{ url_for('static', filename = 'node_modules/tone/build/Tone.js')}}"></script>
<script id="module_sf_player" type="module"
        src="{{ url_for('static', filename = 'node_modules/soundfont-player/dist/soundfont-player.min.js')}}"></script>
{% endblock %}

{% block content %}
<div class="col-12">
    <!-- TOP ROW -->
    <div class="card-deck row" style="border-radius: 10px;">
        <!-- UPPER LEFT -->
        <div class="card col-4 bg-dark text-white d-inline-block p-0">
            <div class="card-title rounded-top p-1 bgcolor_avenue text-black">
                <div>{% if text_prompt%}"{{text_prompt}}"{% else %}}No Playground Selected{% endif %}</div>
                <div id="invisible" style="display: none">
                    <button id="startSequencerButton" class="rounded-circle upper-left bgcolor_warning"><img
                            class="icon_set_imgs"
                            src="{{ url_for('static', filename='img/icons/volume.png') }}"
                            alt=""></button>
                </div>
            </div>
            <div class="card-body m-2 p-0">
                <div class="row">
                    <div class="col-3"><h5 class="d-inline slider-prefix">BPM</h5></div>
                    <div class="col-9">
                        <input id="bpm_slider" type="range" min="60" max="200" value="120" class="slider">
                        <label id="bpm_label" for="bpm_slider">120</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><h5 class="d-inline slider-prefix">Volume</h5></div>
                    <div class="col-9">
                        <input id="volume_slider" type="range" min="-60" max="10" value="0" class="slider">
                        <label id="volume_label" for="bpm_slider">0</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- UPPER MIDDLE -->
        <div class="card p-2 col-4 bg-dark text-white d-inline-block">
            <div class="card-title"><h6>Song Configurations</h6></div>
            <div class="card-body p-0">
                <p style="line-height: 15px; text-align: justify; font-size: 12px">This is the Prototype for the Text-Prompt individual Playground. Later for
                each Prompt there will be only a few elements and configurations available so
                that the music you make sounds like your given prompt!</p>
                <!--                <p>KEY:</p>-->
            </div>
        </div>
        <!-- UPPER RIGHT -->
        <div class="card p-2 col-4 bg-dark text-white d-inline-block">
            <div id="testor" class="card-title"><h6>Mixer</h6></div>
            <div class="card-body">
                <div class="slidecontainer">
                    <div class="slider">
                        <input id="slider_volume_sequencer_1" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>1</label>
                        <input id="slider_volume_sequencer_2" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>2</label>
                        <input id="slider_volume_sequencer_3" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>3</label>
                        <input id="slider_volume_sequencer_4" type="range" min="-60" max="0" value="-10"
                               class="slider slider_volume_sequencer"><label>4</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MIDDLE ROW -->
    <div class="card-deck row" style="border-radius: 10px;">
        <!-- MIDDLE LEFT -->
        <div id="component_gallery"
             class="card p-2 col-2 bg-dark text-white d-inline-block resizable-content scrollbars">
            <div class="card-title p-2 h-100">
                <div>
                    <h4 class="">Samples</h4>
                    <p class="subheadline">Drag these!</p>
                </div>
                <div>
                    <div id="scrollable_category">
                        <select id="category-select" class="category-select" name="form-select"
                                aria-label="Default select example">
                            {% set category_list = ["kicks", "snares", "claps", "hihats", "percussions"] %}
                            {% for category in category_list %}
                            {% if category != session['category_list'] %}
                            <option class="theme_items" value="{{theme}}">{{ category }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <p id="experience_aid" class="display-none small-lineheight">Use your Mousewheel!</p>
                    </div>
                    {% for category in category_list %}
                    <section id="{{category[:-1]}}_section">
                        {% set category_samples = sample_dict[category] %}
                        {% for sample in category_samples %}
                        <div class="">
                            {% set sample_name = sample | string() %}
                            {% set sample_name = sample_name.split("'")[1] | replace(" ", "") | replace("\n", "") %}
                            <button id="gallery_item_{{loop.index}}" class="gallery_items {{category[:-1]}}_item"
                                    draggable="true"
                                    style="font-size:12px">{{ sample_name }}
                            </button>
                        </div>
                        {% endfor %}
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- MIDDLE MIDDLE -->
        <div class="card p-2 col-7 bg-dark text-white d-inline-block" style="border-radius: 10px;">
            <h5 id="step-counter"
                class="border py-1 px-2 border-danger bgcolor_warning rounded-2 d-inline m-1 upper-left">
                0</h5>
            <div class="card-title">
                <h4 class="d-inline">Musikantor</h4>
                <p class="subheadline block">Drag them into the spaces beyond!</p>
            </div>
            <div class="card-body">
                <div class="mt-2">
                    <h6>Drum Sequencer</h6>
                    {% for i in range(4) %}
                    {% set list = ['', '', '', ''] %}
                    <div class="sequencer-row row">
                        <div class="col-2 border rounded draggables px-0 py-1 mx-2" style="overflow: hidden">
                            <p class="draggable_hint" class="mx-2"
                               style="color:var(--dark-grey); line-height: 15px; font-family: Arial; font-size: 8px; opacity: 0.75">
                                Drag the Samples on the Left in here</p>
                        </div>
                        <div class="$row col-7">
                            {% for i in range(16) %}
                            <span class="d-inline">
                                {% if i % 4 == 3 %}
                                <input class="d-inline me-1 bg-danger border-danger sequencer-step align-bottom" type="checkbox">
                                {% else %}
                                <input class="d-inline sequencer-step align-bottom" type="checkbox">
                                {% endif %}
                                 </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    <div id="base">
                        <webaudio-pianoroll id="pianoroll"
                                            width="550" height="450"
                                            timebase="8" loop="1"
                                            xrange="32"
                                            yrange="24"
                                            markend="32"
                                            grid="1"
                                            wheelzoom="1"
                                            tempo="120"
                                            editmode="dragpoly"
                        ></webaudio-pianoroll>

                        <webaudio-slider onchange="Layout(this)" id="xrange" direction="horizontal" min="1" max="10"
                                         value="2"></webaudio-slider>
                        <webaudio-slider onchange="Layout(this)" id="xoffset" direction="horizontal" width="200" min="0"
                                         max="20"
                                         step="0.01" value="0"></webaudio-slider>
                        <webaudio-slider onchange="Layout(this)" id="yrange" min="3" max="32"
                                         value="16"></webaudio-slider>
                        <webaudio-slider onchange="Layout(this)" id="yoffset" min="30" max="120" height="200"
                                         value="60"></webaudio-slider>
                    </div>
                    <button id="play_melody_button" style="display: none">Play</button>
                    <select name="soundfont_select" id="soundfont_select"></select>
                </div>
            </div>
        </div>
        <!-- MIDDLE RIGHT -->
        <div class="card p-2 col-3 bg-dark text-white d-inline-block">
            <div class="card-title">
                <h4 class="d-inline">Instruments</h4>
                <p class="subheadline block">Coming Soon!</p>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <!-- BOTTOM ROW -->
    <div class="card-deck row" style="border-radius: 10px;">
        <!-- BOTTOM ONE -->
        <div class="card p-2 col-12 bg-dark text-white d-inline-block">
            <div class="card-title p-2 h-100">
                <div>
                    <h4 class="">MIDI Gallery</h4>
                    <p class="subheadline">Coming Soon!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    actx = new AudioContext();

    ///////////////////////////////////////////////////
    /////////////// STEP SEQUENCER ////////////////////
    ///////////////////////////////////////////////////

    static_url = "{{static_url}}";
    stepSequencer(static_url); // function in step_sequencer.js

    ///////////////////////////////////////////////////
    ///////////////// PIANO ROLL //////////////////////
    ///////////////////////////////////////////////////

    var startSequencer = document.getElementById('invisible');
    var html_pianoroll = document.getElementById('pianoroll');
    startSequencer.style.display = 'none !important';
    pianoRoll(); // function in pianoroll.js

    //////////////////////////////////////////
    //////// SAMPLE GALLERY SHOW /////////////
    //////////////////////////////////////////

    var category_select = document.getElementById("category-select");
    var section_list = document.querySelectorAll("#kick_section, #snare_section, #clap_section, #hihat_section, #percussion_section");

    //show only kick section in beginning
    for (var i = 0; i < section_list.length; i++) {
        section_list[i].style.display = "none";
    }
    document.getElementById("kick_section").style.display = "block";

    category_select.addEventListener("change", function () {
        show_needed_samples()
    });

    function show_needed_samples() {
        // Get the selected option of #category-select
        var selected_option = document.querySelector("#category-select option:checked").innerText;
        // console.log(selected_option);
        for (var i = 0; i < section_list.length; i++) {
            section_list[i].style.display = "none";
            section_name = selected_option.toLowerCase().slice(0, -1) + "_section";
            console.log(section_name);
            if (section_list[i].id === section_name) {
                section_list[i].style.display = "block";
            }
        }
    }

    gallery_scroller = document.getElementById("scrollable_category");

    var show_only_once = 0;
    gallery_scroller.addEventListener("mouseover", function () {
        if (show_only_once <= 2) {
            document.getElementById("experience_aid").style.display = "block";
            show_only_once += 1;
        }
    });
    gallery_scroller.addEventListener("mouseleave", function () {
        document.getElementById("experience_aid").style.display = "none";
    });

    // Change Select Option on Scroll
    gallery_scroller.addEventListener("mousewheel", function (e) {
        document.getElementById("experience_aid").style.display = "none";
        console.log(e.deltaY);
        e.preventDefault();
        // Change Select Option on Scroll
        if (e.deltaY > 0) {
            // Scroll Down
            if (category_select.selectedIndex < category_select.length - 1) {
                category_select.selectedIndex++;
            } else {
                category_select.selectedIndex = 0;
            }
        } else {
            // Scroll Up
            if (category_select.selectedIndex > 0) {
                category_select.selectedIndex--;
            } else {
                category_select.selectedIndex = category_select.length - 1;
            }
        }
        show_needed_samples();
    });


    //////////////////////////////////////////
    /////////// DRAGGING ITEMS ///////////////
    //////////////////////////////////////////


    var gallery_items = document.getElementsByClassName("gallery_items");
    var dragItem = null;
    for (var i of gallery_items) {
        i.addEventListener("dragstart", dragStart);
        i.addEventListener("dragend", dragEnd);
    }

    function dragStart() {
        // drag start but duplicate the element
        dragItem = this;
        setTimeout(() => {
            this.style.color = "white";
            this.style.backgroundColor = "transparent";
        }, 0);
        // console.log("dragStart" + this.id);
    }

    function dragEnd(e) {
        setTimeout(() => {
            this.style.display = "block";
        }, 0);
        // this.style.color = "black";
        // this.style.backgroundColor = "white";
        // console.log("dragEnd" + this.id);
        dragItem = null;
    }

    // Sequencer Rows
    var sequencer_rows = document.getElementsByClassName("draggables");
    for (var i of sequencer_rows) {
        i.addEventListener("dragover", dragOver);
        i.addEventListener("dragenter", dragEnter);
        i.addEventListener("dragleave", dragLeave);
        i.addEventListener("drop", drop);
    }

    function drop() {
        // Remove other buttons from the row
        var buttons = this.getElementsByTagName("button");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].remove();
        }

        this.style.backgroundColor = "var(--light-grey)";

        this.append(dragItem);
        var hints = document.getElementsByClassName("draggable_hint");
        for (var i of hints) {
            i.style.display = "none";
        }
    }

    function dragOver(e) {
        e.preventDefault();
        // this.style.backgroundColor = "var(--light-grey)";
    }

    function dragEnter(e) {
        e.preventDefault();
    }

    function dragLeave() {
        this.style.border = "none";
        // this.style.backgroundColor = "var(--black)";
    }


    //////////////////////////////////////////
    //////// Resizable Components ////////////
    //////////////////////////////////////////

    component_gallery = document.getElementById("component_gallery");
    // Print out width if resized
    component_gallery.addEventListener("resize", function () {
        console.log("resized");
    });


    //////////////////////////////////////////
    /////////// PLAYING MUSIC ////////////////
    //////////////////////////////////////////

    // Make Samples in Sample Gallery playable via click
    var sample_gallery_items = document.getElementsByClassName("gallery_items");
    for (var i of sample_gallery_items) {
        i.addEventListener("click", play_sample);
    }

    function play_sample() {
        element_name = this.innerText;
        element_category = "kicks"
        element_path = "{{static_url}}/" + element_category + "/" + element_name;
        console.log(element_path);
        var sample = element_path;
        var audio = new Audio(sample);
        audio.play();
    }


    ///////////////////////////////////////////////////
    //////////////// SLIDER, KNOBS ////////////////////
    ///////////////////////////////////////////////////

    // MASTER - Upper Left Elements

    var bpm_slider = document.getElementById("bpm_slider");

    bpm_slider.addEventListener("input", function () {
        var bpm_value = bpm_slider.value;
        document.getElementById("bpm_label").innerHTML = bpm_value;
        Tone.Transport.bpm.value = bpm_value;
        html_pianoroll.tempo = bpm_value;
    });

    var master_volume_slider = document.getElementById("volume_slider");

    master_volume_slider.addEventListener("input", function () {
        var master_volume_value = master_volume_slider.value;
        document.getElementById("volume_label").innerHTML = master_volume_value;
        Tone.Master.volume.value = master_volume_value;
    });

</script>
{% endblock %}