{% extends "template_base.html" %}

{% block title %}
HG2S - Profile
{% endblock %}

{% block content %}

<div class="">
    <h1 class="headline">Your Profile</h1>
    <p class="subheadline">Welcome <em>{{session['session_user']}}</em>. Have fun customizing your experience.</p>
</div>

<!-- Profile Picture -->

<div class="user-profile">

    <div class="row">
        <div class="col-7 py-4">
            <div class="card bgcolor_black text-white shadow-sm" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <h4>User Settings</h4>
                    <div class="row">
                        <div class="my-3 d-inline-block col-4">
                            <img class="" width="150" height="150"
                                 src="{{ url_for('static', filename='img/profile_picture_default.jpg') }}"
                                 alt="user" class="shadow">
                        </div>
                        <div class="col-8 py-4">
                            <div class="d-inline-block">
                                <h4 class="d-inline">Username: </h4>
                                <p class="d-inline-block">{{ session_user }}</p>
                                <a href="/change_user_name">
                                    <button class="btn p-0 m-0">(Change User Name)</button>
                                </a>
                            </div>
                            <div class="d-inline-block">
                                <h4 class="d-inline-block">E-Mail: </h4>
                                {% if session['session_email'] %}
                                <p class="d-inline">{{ session['session_email'] }}</p>
                                <!--<a href="" class="d-inline"><button>Change E-Mail</button></a>-->
                                {% else %}
                                <p class="d-inline">No E-Mail given</p>
                                <a href="">
                                    <button>Add</button>
                                </a>
                                {% endif %}
                            </div>
                            <div class="d-inline-block">
                                <h4 class="d-inline-block">Password: </h4>
                                <p class="d-inline">************</p>
                                <a href="/change_password">
                                    <button class="btn p-0 m-0">(Change Password)</button>
                                </a>
                                </form>
                                <a class="d-block" href='/logout'>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 py-4">
            <div class="card bgcolor_black text-white h-100 shadow-sm" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <h4>Appearence</h4>
                    <form action="#" method="post">
                        <div class="outer_dark_mode_class mb-4 mt-3">
                            <div class="dark_mode_class">
                                <input id="dark_mode_switch" type="checkbox" name="dark_mode_checkbox" class="mx-2"
                                       checked>
                                <label id="dark_mode_label" for="dark_mode_switch" class="mx-5">Dark Mode</label>
                            </div>
                        </div>
                        <select class="form-select" name="form-select" aria-label="Default select example">
                            <option id="selected_theme" class="theme_items" selected>{{ session['session_theme'] }}
                            </option>
                            {% set theme_list = ["HG2S Original", "Purple Darkness", "Sunlight Avenue"] %}
                            {% for theme in theme_list %}
                            {% if theme != session['session_theme'] %}
                            <option class="theme_items" value="{{theme}}">{{ theme }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <button class="main-btn btn btn-lg px-5 mt-4"
                                id="submit_theme"
                                name="submit_theme" type="submit">
                            Commit
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card bgcolor_black text-white shadow-sm" style="border-radius: 1rem;">
                <div class="card-body p-5">
                    <h4>Prompt History</h4>
                    {% if your_last_prompts|length > 0%}
                    {% for prompt in your_last_prompts %}
                    <div class="border border-white text-light col-5-6 d-inline-block px-2 mx-1 my-1 prompt_history_item">
                        <h6 class="mt-2">"{{ prompt.text_prompt }}"</h6>
                        <h6>Music Configurations: </h6>
                        <p class="d-inline m-1 small-font">{{ prompt.creation_date }}</p>
                        <p class="d-inline float-end left_bottom m-1 small-font"><a
                                href="{{ url_for('playground', text_prompt = prompt.text_prompt) }}">Playground</a>
                        </p>
                    </div>
                    {% endfor %}
                    <div class="px-1 py-2 my-4">
                        <p style="line-height: 90%">Post your Prompt Creations to the Marketplace</p>
                        <a class="d-block mt-2" href="{{ url_for('index')}}">Prompt something new!</a>
                    </div>
                    {% else %}
                    <p class="">You didn't prompt yet!</p>
                    <div><p>Start <a class="d-inline" href="{{ url_for('index')}}">your first Prompt Creation</a>
                        Right
                        now!</p></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<p id="exchange_appearance_js" style="display: none">{{ session['session_light_mode'] }}</p>
<script>

    var theme_selector = document.getElementsByClassName("form-select")[0];

    theme_selector.onchange = function () {
        console.log(theme_selector.value);
        configure_theme_appearance(theme_selector.value);
    };

    ///////////////////////////////////////////////
    //////////// DARK MODE SWITCH /////////////////
    ///////////////////////////////////////////////

    // Get Dark Mode Switch
    const modeSwitch = document.getElementById("dark_mode_switch");
    // Get Dark Mode Label
    const modeLabel = document.getElementById('dark_mode_label');
    // Get Dark Mode Class
    const modeClass = document.getElementsByClassName('dark_mode_class');

    // Toggle to the right State when loading page
    const lightmode = document.getElementById("exchange_appearance_js");
    if (lightmode.innerHTML == 1) {
        modeSwitch.checked = true;
        modeLabel.innerHTML = "Light Mode";
    } else if (lightmode.innerHTML == 0) {
        modeSwitch.checked = false;
        modeLabel.innerHTML = "Dark Mode";
    }

    // Temporary direct Preview of the selected Theme and Mode
    modeSwitch.addEventListener("change", function () {
        // Change Dark Mode Label
        if (modeSwitch.checked == false) {
            modeLabel.innerHTML = "Dark Mode";
            configure_mode_appearance(false);
        } else {
            modeLabel.innerHTML = "Light Mode";
            configure_mode_appearance(true);
        }
    });

    ///////////////////////////////////////////////
    //////// COLORFUL PROMPT HISTORY //////////////
    ///////////////////////////////////////////////

    var prompt_history_items = document.querySelectorAll(".prompt_history_item").forEach(function (item) {
        var random_color = Math.floor(Math.random() * 16772523).toString(16);
        item.style.backgroundColor = "#" + random_color + "20";
    });


</script>

{% endblock %}