{% extends "base.html" %}

{% block title %}
HG2S - Services
{% endblock %}

{% block content %}
<div class="">
    <h1 class="headline">Micro Services</h1>
    <p class="subheadline">Test some Files, Functions and Extras that we made for you</p>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h4>Download YT Video</h4>
            <form action="/services" method="post">
                <input class="d-inline" type="text" name="url" placeholder="YT URL">
                <input class="d-inline" type="text" name="path" placeholder="DOWNLOAD PATH">
                {% if logged_in %}
                <input class="d-inline" type="submit" name="btn" value="Download">
                {% else %}
                <p class="">Login to Use Service <a href="{{ url_for('login') }}">Login</a></p>
                {% endif %}
            </form>
        </div>
        <div class="col-6">
            <h4>Get Song Metadata</h4>
            <form action="/services" method="post">
                <input type="text" name="song" placeholder="SONG NAME">
                <input type="text" name="artist" placeholder="ARTIST NAME">
                <input type="text" name="path" placeholder="PATH FOR JSON">
                {% if logged_in %}
                <input type="submit" name="btn" value="Scrape">
                {% else %}
                <p class="">Login to Use Service <a href="{{ url_for('login') }}">Login</a></p>
                {% endif %}
            </form>
            <ul>
                {% for item in song_json %}
                <li>{{item, song_json[item]}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}