<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- FONTS -->
    <link rel="stylesheet" href="https://use.typekit.net/hti8epd.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/WebApp_Main.css') }}">
    {% block extra_head_configs %} {% endblock %} <!-- Space for extra site intern CSS and JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index_appearance.js')}}"></script>
</head>

<body>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="{{ url_for('index')}}" class="logo">
                        <img src="{{ url_for('static', filename='img/logos/logo.png') }}" alt="">
                    </a>
                    <ul class="nav">
                        <li><a href="{{ url_for('marktplatz')}}">Marktplatz</a></li>
                        <li><a href="{{ url_for('documentation')}}">Documentation</a></li>
                        {% if session['session_user'] %}
                        <li><a href="{{ url_for('profile', username=session['session_user'])}}">Profile</a></li>
                        <li><a href="{{ url_for('logout')}}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login')}}">Login</a></li>
                        <li><a href="{{ url_for('sign_up')}}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="page-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- SITE INSERT -->
        {% block content %}
        {% endblock %}
    </div>
</div>

<!-- GLOBAL FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>No Copyright © 2022 <a href="#">HG2S</a> All rights reserved.
                    <br>WebApp <a href="url_for{{ 'login' }}" target="_blank">Paul Hitzler</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Invisible Elements for Variable Exchange with JavaScript -->
<p id="theme_exchange_with_js" style="display: none">{{ session['session_theme'] }}</p>
<p id="mode_exchange_with_js" style="display: none">{{ session['session_light_mode'] }}</p>
{% block extra_javascript %}
{% endblock %}
</body>
<script type="text/javascript">

    ///////////////////////////////////////////////
    //////////// THEME CONFIGURATION //////////////
    ///////////////////////////////////////////////

    let light_mode = document.getElementById('mode_exchange_with_js').innerHTML;
    if (light_mode == "0") {
        light_mode = false;
    } else {
        light_mode = true;
    }
    configure_mode_appearance(light_mode); // calling function in index_appearance.js

    let theme = document.getElementById('theme_exchange_with_js').innerHTML;
    configure_theme_appearance(theme); // calling function in index_appearance.js

    ///////////////////////////////////////////////
    ///////////// COLORFUL CONTENT ////////////////
    ///////////////////////////////////////////////

    colorize_content(); // calling function in index_appearance.js

</script>
</html>