{% extends "template_base.html" %}

{% block title %}

{% endblock %}

{% block content %}
<div class="container px-2">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    {% block form %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

