/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');*/
/* body {*/
/*   font-family: 'Roboto', sans-serif;*/

/*---------------------------------------------*/
/*               COLOR SCHEME                  */
/*---------------------------------------------*/

/* Variables */
:root {
    --yellow: #FFDCA8;
    --pink: #e4a5d4;
    --white: #EEE;
    --light-grey: #E9EAEC;
    --middle-grey: #282828;
    --dark-grey: #212529;
    --black: #1e1e1e;
    --green: #50FFAF;
    --dark-green: #10A957;
    --purple: #9C7BFF;
    --light-blue: #CFE2FF;
    --light-orange: #FF8377;
    --dark-orange: #F34E1E;
    --red: #D11D1C;
    --main-font: bebas-kai, sans-serif !important;
    --second-font: Poppins, sans-serif !important;
}

/* MAIN SCHEME - Background Colors */
.bgcolor_original {
    background-color: var(--yellow)
}

.bgcolor_purple {
    background-color: var(--purple);
}

.bgcolor_avenue {
    background-color: var(--light-blue);
}

/* MAIN SCHEME - Border Colors */
.bdcolor_original {
    border-color: var(--yellow) !important;
}

.bdcolor_purple {
    border-color: var(--purple) !important;
}

.bdcolor_avenue {
    border-color: var(--light-blue) !important;
}

/* Dark Scheme */
.bgcolor_black {
    background-color: var(--black) !important;
}

.color_black {
    color: var(--black) !important;
}

.bgcolor_darkgrey {
    background-color: var(--dark-grey) !important;
}

/* Bright Scheme */
.bgcolor_white {
    background-color: var(--white) !important;
}

.color_white {
    color: var(--white) !important;
}

.bgcolor_lightgrey {
    background-color: var(--light-grey) !important;
}

/* Indicators */
.bgcolor_warning {
    background-color: var(--red);
}

.bdcolor-warning {
    border-color: var(--red) !important;
}

.bdcolor-indicator {
    border-color: var(--middle-grey) !important;
}

/* Hover Colors */

a {
    color: #0A58CA;
}

.a_dark:hover {
    color: var(--light-grey);
    transition-duration: 0.5s;
}

.a_light:hover {
    color: var(--dark-grey);
    transition-duration: 0.5s;
}


/*---------------------------------------------*/
/*              GLOBAL SETTINGS                */
/*---------------------------------------------*/

body {
    background: var(--yellow);
    font-family: bebas-kai, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body .page-content {
    margin-top: 110px;
    background-color: var(--black);
    padding: 60px;
    border-radius: 23px;
    color: var(--white);
}

p {
    font-size: 15px;
    color: var(--white);
    line-height: 30px;
    margin-bottom: 0px;
}

.own-btn {
    background-color: var(--middle-grey);
    color: var(--white);
    /*color: var(--grey) !important;*/
}

.own-btn:hover {
    transform: rotate(-2deg);
    transition: 0.2s;
    /*outline: 2px solid var(--yellow) !important;*/
}

p {
    font-family: var(--second-font);
    font-weight: 300;
}

a {
    text-decoration: none;
}

.seperator-line {
    border-top: 7px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*---------------HEADLINES---------------*/

.headline {
    font-size: 50px;
    margin-bottom: 0;
}

.subheadline {
    line-height: 0;
    font-size: 15px;
    margin-bottom: 1.2em;
}

.headline-classic {
}

.sequencer-step {
    width: 15px;
    height: 20px;
}

.second-font {
    font-family: var(--second-font);
    font-weight: 200;
}

input {
    font-family: var(--second-font);
    font-weight: 400;
}

.icon_set_imgs {
    width: 20px;
    height: 20px;

}

.display-none {
    display: none;
}

.small-lineheight {
    font-size: 13px;
    line-height: 15px;
}


/*---------------------------------------------*/
/* SLIDER, COUNTER, BUTTONS, RESIZABLE, ICONS  */
/*---------------------------------------------*/

.main-btn {
    border: 2px solid;
}

.vertical-slider {
    transform: rotate(270deg);
}

.resizable-content {
    resize: horizontal;
    overflow: hidden;
    min-width: 150px;
    /*min-height: 300px;*/
    max-width: 250px;
    /*max-height: 600px;*/
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* firefox only up to now :/ */
    scrollbar-color: var(--yellow) var(--black);
    scrollbar-width: thin;
}

.scrollbars::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}

.scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: #999;
}

.scrollbars::-webkit-scrollbar-track { /* Background */
    background: #333;
}

.slider-prefix {
    width: 50px;
}

.icons {
    width: 20px;
    height: 20px;
}


/*---------------------------------------------*/
/*           GENERAL POSITIONING & SIZING             */
/*---------------------------------------------*/

.upper-left {
    position: absolute;
    top: 1px;
    right: 1px;
}

.left_bottom {
}

.small-font {
    font-size: 13px;
}

.positioning_1 {
    position: relative;
    left: 78px;
}

.col-5-6 {
    width: 48.5%;
}

/*---------------------------------------------*/
/*                  FOOTER                     */
/*---------------------------------------------*/

footer p {
    text-align: center;
    padding: 30px 0px;
    color: var(--black);
    font-weight: 300;
}

footer p a {
    color: var(--black);
    transition: all .3s;
}

footer p a:hover {
    color: var(--pink);
}

/*----------------- DARK MODE SWITCH ---------------------*/

.dark_mode_switch {
    position: relative;
    /*left: 30px;*/
    top: 0px;
    /*z-index: 0;*/
    -webkit-appearance: none;
}

.dark_mode_class {
    position: relative;
    display: block;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.3;
    position: relative;
}

#dark_mode_label:before {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #ddd;
    background-color: var(--white);
    content: "";
    margin-right: 15px;
    transition: background-color 0.5s linear;
    z-index: 5;
    position: absolute;
    left: 0px;
}

#dark_mode_label:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    content: "";
    transition: margin 0.1s linear;
    box-shadow: 0px 0px 5px #aaa;
    position: absolute;
    left: 2px;
    z-index: 10;
}

#dark_mode_switch:checked + #dark_mode_label:before {
    background-color: var(--pink);
}

#dark_mode_switch:checked + #dark_mode_label:after {
    margin: 0 0 0 30px;
}

#outer_dark_mode_class {
    position: relative;
    /*left: -0px;*/
    bottom: 0px;
}



/*!* */
/*---------------------------------------------*/
/*Header Style*/
/*--------------------------------------------- */
/**!*/

.background-header {
    background-color: var(--white) !important;
    height: 70px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    display: none;
}

.header-area {
    background-color: transparent;
    position: absolute;
    height: 70px;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav {
    min-height: 80px;
    background: transparent;
    display: flex;
    padding: 15px 0px;
    border-radius: 50px;
}

.background-header .main-nav {
    padding: 0px;
    background-color: transparent;
}

/*---------------------------------------------*/
/*                    LOGO                     */
/*---------------------------------------------*/

.header-area .main-nav .logo {
    flex-basis: 25%;
    margin-right: 5%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
    width: 191px;
}

.background-header .main-nav .logo {
    margin-top: 8px;
}

.background-header .main-nav .logo img {
    width: 180px;
}

/*---------------------------------------------*/
/*                  NAV MENU                   */
/*---------------------------------------------*/

.header-area .main-nav .nav {
    display: inline-flex;
    flex-basis: 70%;
    justify-content: flex-end;
    vertical-align: middle;
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #1e1e1e;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: transparent;
    padding: 13px 10px;
    border-radius: 18px;
    letter-spacing: .3px;
}

.header-area .main-nav .nav li:last-child a {
    background-color: var(--black);
    color: var(--pink);
    padding: 5px 15px 5px 15px;
    border-radius: 23px;
    margin-top: 7px;
}

.header-area .main-nav .nav li:last-child a img {
    max-width: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
.background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
    padding-left: 25px !important;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: var(--pink) !important;
}

.header-area .main-nav .nav li:last-child:hover a,
.header-area .main-nav .nav li:last-child a.active {
    color: #fff !important;
    background-color: var(--pink) !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
    color: #fff;
    opacity: 1;
}

.header-area .main-nav .nav li.has-sub {
    position: relative;
    padding-right: 15px;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 20px;
    display: none;
}

.background-header .main-nav .menu-trigger {
    top: 17px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: var(--pink);
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: var(--pink);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: var(--pink);
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: var(--pink);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: var(--pink);
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: var(--pink);
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #e4a5d4;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #e4a5d4;
}

.header-area.header-sticky {
    min-height: 70px;
}

.header-area.header-sticky .nav li a.active {
    color: #fff;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 992px) {
    .header-area {
        top: 0;
    }

    .header-area .main-nav {
        background-color: transparent;
        border-radius: 0px;
    }

    .header-area .main-nav .nav {
        height: auto;
        flex-basis: 100%;
    }

    .header-area .main-nav .logo {
        position: absolute;
        left: 30px;
        top: 15px;
    }

    .background-header .main-nav .logo {
        top: 0px;
    }

    .background-header .main-nav .border-button {
        top: 0px !important;
    }

    .header-area .main-nav .border-button {
        position: absolute;
        top: 15px;
        right: 70px;
    }

    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
        color: var(--pink) !important;
        opacity: 1;
    }

    .header-area.header-sticky .nav li.search-icon a {
        width: 100%;
    }

    .header-area {
        background-color: #1a1e21;
        padding: 0px 15px;
        height: 80px;
        box-shadow: none;
        text-align: center;
    }

    .header-area .container {
        padding: 0px;
    }

    .header-area .logo {
        margin-left: 0px;
    }

    .header-area .menu-trigger {
        display: block !important;
    }

    .header-area .main-nav {
        overflow: hidden;
    }

    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }

    .header-area.header-sticky .nav {
        margin-top: 65px !important;
        text-align: center;
    }

    .background-header.header-sticky .nav {
        margin-top: 70px !important;
    }

    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid var(--light-grey);
    }

    .header-area .main-nav .nav li {
        width: 100%;
        background: var(--white);
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #fff !important;
        color: #1e1e1e !important;
    }

    .header-area .main-nav .nav li a:hover {
        background: #fff !important;
        color: #e4a5d4 !important;
    }

    .header-area .main-nav .nav li:last-child a img {
        display: none;
    }

    .header-area .main-nav .nav li:last-child a:hover {
        color: var(--pink) !important;
        background-color: transparent !important;
    }

    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
        transition: all 0s;
    }

    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }

    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }

    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        height: auto;
    }

    .header-area .main-nav .nav li.has-sub:after {
        color: var(--light-blue);
        right: 30px;
        font-size: 14px;
        top: 15px;
    }

    .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}


/*!* */
/*---------------------------------------------*/
/*Responsive Style*/
/*--------------------------------------------- */
/**!*/

/*body {*/
/*  overflow-x: hidden;*/
/*}*/

/*@media (max-width: 767px) {*/
/*  body .page-content {*/
/*    padding: 0px 30px;*/
/*  }*/
/*  .main-banner {*/
/*    text-align: center;*/
/*  }*/
/*  .main-banner h4 {*/
/*    font-size: 35px;*/
/*  }*/
/*  .gaming-library .item ul li,*/
/*  .gaming-library .item ul li:first-child,*/
/*  .gaming-library .item ul li:last-child {*/
/*    width: 100% !important;*/
/*    text-align: center !important;*/
/*  }*/
/*  .gaming-library .item ul li {*/
/*    margin-top: 30px;*/
/*  }*/
/*  .top-downloaded ul li .download i {*/
/*    top: 20px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*  }*/
/*  .top-downloaded ul li img {*/
/*    margin-right: 10px;*/
/*  }*/
/*  .top-downloaded ul li span {*/
/*    font-size: 14px;*/
/*  }*/
/*  .top-streamers ul li .main-button {*/
/*    float: none;*/
/*    margin-top: 10px;*/
/*  }*/
/*  .top-streamers ul li .main-button a {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*  }*/
/*  .top-streamers,*/
/*  .top-downloaded {*/
/*    max-height: 100%;*/
/*    min-height: 100%;*/
/*  }*/
/*  .most-popular .item .inner-item {*/
/*    margin-bottom: 20px;*/
/*  }*/
/*}*/

/*@media (max-width: 992px) {*/
/*  .background-header {*/
/*  display: inline-block;*/
/*  }*/
/*  .header-area .main-nav #search {*/
/*    display: none;*/
/*  }*/
/*  .heading-section h4 {*/
/*    font-size: 20px;*/
/*  }*/
/*  .gaming-library .item ul li {*/
/*    width: 48% !important;*/
/*  }*/
/*  .gaming-library .item ul li:last-child {*/
/*    text-align: left;*/
/*  }*/
/*  .featured-games {*/
/*    margin-bottom: 60px;*/
/*  }*/
/*  .start-stream .item {*/
/*    margin: 15px 0px;*/
/*  }*/
/*  .feature-banner .thumb {*/
/*    margin-top: 30px;*/
/*  }*/
/*  .main-profile .main-info {*/
/*    margin: 45px 0px;*/
/*  }*/
/*}*/

/*@media (max-width: 1200px) {*/
/*  .header-area .main-nav .nav li {*/
/*    padding-right: 5px;*/
/*    padding-left: 5px;*/
/*  }*/
/*  .header-area .main-nav .logo {*/
/*    margin-right: 30px;*/
/*    border-right: none;*/
/*  }*/
/*  .gaming-library .item ul li {*/
/*    width: 16%;*/
/*  }*/
/*}*/